@use '@/styles/helpers' as *;

.a-logo {
  svg {
    display: block;
    width: auto;
    height: 40px;
    margin: var(--space-3) 0;
  }

  @include media('<sm') {
    .a-logo__text {
      display: none;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
