@use '@/styles/helpers' as *;

.calendar {
  margin: var(--space-4) 0;
  border: 2px solid var(--red);
  overflow: hidden;
  border-radius: var(--space-2);

  iframe {
    width: 100%;
    height: 70vh;
    border: 0;
  }
}
