@use '@/styles/helpers' as *;

.a-form {
  @include angle;
  background-color: var(--yellow);
  padding: var(--space-4) 0;
  margin: var(--space) 0;
  min-height: 800px;
  backface-visibility: hidden;

  @include media('>=sm') {
    padding: var(--space-8) 0;
    margin: var(--space-3) 0;
  }

  &__form {
    height: auto;
    border-radius: 0;
    height: 100%;
  }

  .tf-v1-widget iframe {
    min-height: 700px;
    display: block;
  }
}
