@use '@/styles/helpers' as *;

@font-face {
  font-family: 'DIN';
  src:
    url('/DIN.woff2') format('woff2'),
    url('/DIN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN';
  src:
    url('/DIN-Black.woff2') format('woff2'),
    url('/DIN-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'DIN', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  font-size: 1.1rem;
  line-height: 1.5;
}

strong {
  font-weight: 900;
}

a {
  --bg: var(--yellow);
  --hover: var(--red);
  transition: var(--transition);
  text-decoration: none;
  padding-bottom: 2px;
  background: linear-gradient(to right, var(--bg), var(--bg)),
    linear-gradient(to right, var(--hover), var(--hover));
  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: var(--transition);
  color: var(--black);

  &:hover {
    background-size:
      0 2px,
      100% 2px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h3 {
  margin-bottom: var(--space-0-5);
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}
